@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Roboto+Mono:wght@500&display=swap');


.rocket-details-container {
  background-color: #79BEEE;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backToDetails {
  color: white;
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
  outline: none;
  border: none;
  padding: 0.5rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 255, 0.74);
  border-radius: 10px;
  cursor: pointer;
}

.rocket-name {
  margin: 1rem auto;
}

.active {
  color: green;
}
.inactive {
  color: red;
}

.basic-info {
  max-width: 80%;
}

.technical-specs-container {
  margin: 0 auto;
}

img {
  width: 100%;
  max-width: 250px;
  margin: 1rem auto;
  border-radius: 10px;
}

.description {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin: 1rem auto;
  text-align: left;
}

.backToDetails:hover {
  background-color: blue;
}

p {
  line-height: 1.5rem;
}

@media screen and (min-width:500px) {
  img {
    max-width: 350px;
  }
}

@media screen and (min-width:900px) {
  img {
    max-width: 550px;
  }
  .info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .basic-info {
    margin: 0 auto;
    align-self: flex-start;
  }
}